<div class="form-floating">
  <textarea [formControl]="text" class="form-control" placeholder="Insert your text here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">TEXT to read and learn</label>
  <button class="btn btn-primary" (click)="readText()">READ</button>
</div>
<hr>
<div>
  <button class="word btn" [class.btn-info]="!word.translation" [class.btn-primary]="word.translation" *ngFor="let word of words" (click)="showThisWord(word)">{{word.word}}</button>
</div>
<hr>
<div *ngIf="showWord" style="position: fixed; bottom: 1rem; font-weight: bolder">
  <h1  class="btn btn-danger" style="text-align: center">{{showWord.word}} = {{showWord.translation}}</h1>
</div>
