<div class="form-floating">
  <textarea [formControl]="text" class="form-control" placeholder="Insert your text here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">TEXT to read and learn</label>
  <button class="btn btn-primary" (click)="readText()">START VOCABULARY TRAINING</button>
</div>
<hr>
<div>
  <button class="word btn" [class.btn-info]="!vocabulary.translation" [class.btn-primary]="vocabulary.translation" *ngFor="let vocabulary of trainingData?.vocabulary" (click)="showThisWord(vocabulary)">{{vocabulary.word}}</button>
</div>
<hr>

<hr>
<div *ngIf="showWord" style="position: fixed; bottom: 1rem; font-weight: bolder">
  <h1 class="btn btn-danger" style="text-align: center">{{showWord.word}} = {{showWord.translation}}</h1>
</div>
<h1>TYPE</h1>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" [class.hidden]="trainingData.vocabulary.length == 0">
  <input (input)="onInputChange($event)" class="input" placeholder="Tap on the virtual keyboard to start" />
  <div class="simple-keyboard"></div>
</div>
